/* You can add global styles to this file, and also import other style files */
html{
    padding: 0;
    margin: 0;
    background-color: #fff;
    color:#555;
    font-weight:300px;
    font-size:20px;
    text-rendering: optimizeLegibility;
    margin:auto;
}