button{
    background-color:white;
    border-radius: 30px;
    border: 1px solid #e67e22;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width:150px;
    height: 30px;
    margin:2% 45%;
    color: #4CAF50;
    transition-duration: 0.8s;
}


button:hover{
background-color:#4CAF50;
color:#fff
}