.input{

    margin:auto;  
    margin:40px;
}
.input_field{
    margin:auto;
    text-transform: uppercase;
    margin:20% 25% 0 25%;
    border-radius: 20px;
}
.fieldtext{
    margin-right: 30px;
}
.field{
    margin-right: 25px;
    border-radius: 20px;
}



button{
    background-color:white;
    border-radius: 30px;
    border: 1px solid #e67e22;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width:150px;
    height: 30px;
    margin:2% 40.5%;
    color: #4CAF50;
    transition-duration: 0.4s;
}


button:hover{
background-color:#4CAF50;
color:#fff
}
.ng-invalid .ng-touched{
border:1px solid red;
}

